@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,800');

/* HIDING METHODS */

.blockForTableMobile{
  display: none;
}

.enclosureMobile{
  display: none;
}


hr{
  margin-top: 0;
  margin-bottom: 0;
  background-color:#b2d8d8;
  height: 5px;
}

.nameBar{
  width: 70%;
  text-align: left;
  padding-top: 40px;
  padding-left: 10px;
  font-size: 32pt;
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  height: 50px;
}

.menuBar{
  text-align: center;

}

body{
  background-color: white;
  margin:auto;
}

.subPageHeader{
  font-family: 'Montserrat',sans-serif;
  font-weight: 200;
  font-size: 26pt;
}


.blockForTable{
  height: 100px;
  background-color: black;
  width: 100%;
  margin: auto;
}

table{
  height: 100px;
  margin:auto;
  width: 72%;

}

td{
  height: 25px;
  width: 10%;
  font-size: 16pt;
  font-family: 'Montserrat',sans-serif;
  color: white;

}

a{
  color: white;
  font-family: 'Montserrat',sans-serif;
  font-weight: 100;
  font-size: 14pt;
  text-decoration: none;
}
a:hover{
  color: #b2d8d8;
  text-decoration:overline;
  font-family: 'Montserrat',sans-serif;
  font-weight: 100;
  font-size: 14pt;
}

.enclosure{
  background-color: #DCDCDC;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 50px;
  padding-top: 1px;
  width: 72%;
  margin: auto;
}

.textInput{
  width: 90%;
  height: 30px;
  margin-bottom: 15px;
}

.messageInput{
  width: 90%;
  height: 100px;
}
form{

  width: 90%;
  padding-top: 20px;
  padding-left: 60px;
  padding-bottom: 20px;
  margin:auto;
  background-color: #A9A9A9;
  font-family: 'Montserrat',sans-serif;
}


input{
}

footer{
  position: fixed;
  margin: auto;
  bottom: 0;
  background-color: black;
  width: 100%;
  text-align: center;
  height: 50px;
}

.gitlogo{
  margin-top: 5px;
  width: 25px;
  height: 25px;
}

/* MEDIA QUERIES TABLET - 768px */

@media screen and (max-width: 800px) {

  body{
  }

  .blockForTable{
    display: none;
  }

  .blockForTableMobile{
    background-color: black;
    width: 100%;
    margin: auto;
    display: block;
  }
  .nameBar{
    text-align: center;
  }

  .enclosure{
    display: none;
  }

  .enclosureMobile{
    display:block;
    background-color: #DCDCDC;
    width: 100%;
    margin:auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .picHolder{
    margin: auto;
    text-align: center;
  }
  .mobilePic{
    width: 75%;
    height: auto;
    margin: auto;
    float: none;

  }

}
